body{
    margin: 5px;
    padding: 30px;
    outline: 5px solid rgb(23, 105, 4);
    border: 5px solid rgb(44, 199, 10);
}
.head
{
    color: rgba(255, 85, 0, 0.938);
    border: 10px dashed rgba(255, 85, 0, 0.938);
    width: 400px;
    height: 600px;
    text-align: center;
    align-content: center;
    padding:25px 20px;
    position: relative;
    bottom: 100px;
    left:600px;
}
.mark1{
    color: white;
    background-color: black;
    border: 10px solid red;
    border-radius: 50px;
    font-style:italic;
    width: 400px;
    height: 100px;
    text-align:center;
    padding: 5px 10px;
}
.mark2{
    color: white;
    background-color: black;
    border: 10px solid red;
    border-radius: 50px;
    font-style: oblique;
    font-size:x-large;
    font-family:'Times New Roman', Times, serif;
    width: 400px;
    height: 60px;
    position:relative;
    bottom: 100px;
    left: 300px;
    text-align:right;
    padding: 5px 10px;
    text-indent: 10px;
}
.mark3{
    color: white;
    background-color: black;
    border: 10px solid red;
    border-radius: 50px;
    font-style:italic;
    width: 400px;
    height: 150px;
    text-align:center;
    position: relative;
    bottom: 220px;
    left: 780px;
    /* padding: 5px 10px; */
}
.mark4{
font-style: italic;
text-decoration: underline;
border: 10px solid grey;
border-radius: 50%;
width: 300px;
height: 300px;
text-align:center;
background-color: lightseagreen;
padding: 50px;
position: relative;
bottom: 550px;
left: 50px;

}
.mark5{
    color: white;
    background-color: black;
    border: 10px solid red;
    border-radius: 50px;
    text-align:center;
    width: 500px;
    height: 40px;
    position: relative;
    left: 400px;
    font-style: italic;
    padding-bottom: 20px;
}
.type1{
border: 5px solid green;
text-align: center;
background-color: lightseagreen;
border-radius: 30px;
width:300px;
}
.Menu{
    display: flex;
    justify-content: space-around;
    color: blueviolet;
    position: relative;
}
.All{
    position: relative;
    bottom: 400px;
}
